Introduction to R - Preparatory Material
University of Toronto
September 2021

Original Author: Nicholas Mitsakakis

Modifications by Kevin Dang

In [ ]:
# R as a calculator
3*2+4/(3+2)
3^5
log(19)
exp(2)
pi

In [ ]:
# assignment
x <- 2+3
y <- "hello"

In [ ]:
# the values have been stored
x 
y

In [ ]:
# this operation cannot be done
x+y

In [ ]:
#vectors - 1-dimensional data structures
x <- c(4,5,6)
x <- 4:6

In [ ]:
y <- c("Hello","cruel","world")

In [ ]:
length(x)
length(y)

In [ ]:
# Appending vectors
x <- c(x,c(10,20,20),8)
x

Indexing using integer indices

In [ ]:
# accessing an element
x[1]

In [ ]:
# Question: how can we access the last element of a vector?
# Modifying an element

x[2] <- 10
x

In [ ]:
# indexing of a whole section of a vector
y[2:3]

In [ ]:
# negative indices indicate "except for"
y[-1]

In [ ]:
# Vectorization operations can naturally extended to vectors - no special coding is required 
# Very important feature of R, it simplifies coding significantly
xx <- x+1
xx^2

In [ ]:
# Calculating the mean and standard deviation of the data found in xx
mean(xx)
sd(xx)

In [ ]:
#Generating vectors of logical type
x > 3
x > 5

equality is denoted by '=='
single '=' is used for assignment
>= means "greater than or equal"
<= means "less than or equal"

Logical Operators 
& is 'and'	
| is 'or'	
! is 'not'

Using logical vectors to access and modify elements in vectors

In [ ]:
# Find the elements of x that are larger than 5
x[x>5]

In [ ]:
# make these elements equal to 0
x[x>5] <- 0

In [ ]:
# Find the elements of x that are larger than 4 and smaller than 6
x[x>4 & x<6]

Higher dimension data structures

In [ ]:
# matrix - 2-dimensional structure
M <- matrix(1:12, nrow = 3)
M1 <- matrix(1:12, nrow = 3,byrow = T)
M1

IMPONTANT: vectors, matrices and arrays need to contain elements of the same TYPE
i.e. all numeric, all character etc.
no mix and match

In [ ]:
# Indexes in matrices, [row,column]
M[3,2]
M[3,2] <- 16
print(M)

In [ ]:
dim(M)

In [ ]:
# minus sign for an index indicates "everything else except"
M[2,c(-1,-2)]
M[2,3:4]
M[2,-(2:1)]
M[2,-2]

In [ ]:
# transpose a matrix
t(M)

data frame
The most commonly used data structure, like a table with columns as variables and rows as data observations
similar with matrices EXCEPT data frames can have columns of different types

In [ ]:
students <- data.frame(name=c("John","Mary","Jack"), age.yrs=c(25,45,33), height.cm=c(177,165,180), weight.kg = c(90,69,85))

In [ ]:
#accessing columns
# by column index
students[,1]
# by column (variable) name
students$name
# by column name as an index
students[, "name"]

each one of these methods have different advantages and disadvantages, learn to use them all when needed

In [ ]:
# cbind function can be used to bind columns together or to an existing data frame
students <- cbind(students,grade=c(67,85,70))

In [ ]:
# dimensions
dim(students)

In [ ]:
# subseting using conditions
students$name[students$grade>80]

In [ ]:
# rbind function can be used to add a row, i.e. an observation
students <- rbind(students, data.frame(name=c("Jane"), age.yrs=c(28), height.cm=c(171), weight.kg = c(68)))

In [ ]:
# oops, we forgot the grade!
# rows need to have the same length!
# TABULAR data
students <- rbind(students, data.frame(name="Jane", age.yrs=28, height.cm=171, weight.kg = 68,grade=88))

NA, missing data
In R missing data are represented by the type NA
E.g. suppose Jane's grade was incorrect
We need to consider it as missing

In [ ]:
students$grade[students$name=="Jane"] <- NA
students

In [ ]:
# Exercise
# Add a new student with name Nick with height 187 cm, weight 82 kg, grade 90, but missing age. 
# Can you add the row at the beginning of the data frame?
students <- rbind(data.frame(name="Nick", age.yrs=NA, height.cm = 187, weight.kg = 82, grade =90), students)

Classes

data in R have different types based on their content (number, character, factor, logical) and their structure (vector, matrix, data.frame, list)

In [ ]:
class(x)
class(y)
class(students)
class(students$name)
class(students$age.yrs)

In [ ]:
class(x>3)

In [ ]:
# loops: for, while

# Loop is a control structure that results in the execution of a set of commands or expressions for a predifined number of times or until some condition is met

# For loops are the most commonly used and we will use them the most here
x <- c()

for (i in 1:25){
  x[i] <- i^2
  print("hello")
}

x

In [ ]:
for (i in c(2,4,7)){
  x[i] <- i^2
  print(paste("hello",i^2))
}

In [ ]:
# Control Structures
# if 
x <- 1
y <- 3
if (x<y) {
  print("x is smaller than y")
  print(paste("the difference is ",y-x, sep=""))
}

In [ ]:
# if else

x <- 1
y <- 0

if (x<y) {
  print("x is smaller than y")
  print(paste("the difference is ",y-x, sep=""))
} else {
  print("x is equal or larger than y")
  print(paste("the difference is ",x-y, sep=""))
}

In [ ]:
# we also have the 'while' loop
# a set of operations is executed as long as a condition is met

# toy example

# a lotus flower in a pond is increasing its size by 50% each day
# at day one its size is 5 squared inches
# the area of the pond is 100 sq inches
# when will the flower cover the whole pond?

size <- 5
day <- 1

while(size<100){
  size <- 1.5*size
  day <- day+1
}
day

In [ ]:
# Functions
# make your own function, to do exactly what you want
# This can make your code and analysis more efficient, elegant, tidy etc.

# functions may or may not have an output value
# they may or may not have arguments

# example
my.add.fn <- function(x,y){
  res <- x+y
  print("Bingo!")
  return(res)
}

my.add.fn(1,3)

In [ ]:
# they can have default values for arguments
plus.1 <- function(x=5){return(x+1)}

plus.1()
plus.1(3)

In [ ]:
# they can have optional arguments
subtract.the.rest <- function(x,...){return(x-sum(...))}
subtract.the.rest(5)
subtract.the.rest(5,2,3,4)

In [ ]:
# Distributions, 'sample' function

# R has different built in functions for a large number of statistical distributions
# We can use them to generate random samples from these distributions

# e.g a sample of size 100 for a normal distribution with mean=2 and std=3

mynormalsample <- rnorm(100,2,3)

hist(mynormalsample)

In [ ]:
# are these numbers really random?

set.seed(1)
rnorm(10,2,3)

set.seed(1)
rnorm(10,2,3)

set.seed(1)
rnorm(10,2,3)

rnorm(10,2,3)

# Question: Why would we ever want to set the seed?

In [ ]:
# Function 'sample' - An important one
set.seed(237)
?sample
sample(5:10) # permutation
sample(5:10,3) # sample without replacement
sample(5:10,3,replace = T) # sample with replacement

In [ ]:
set.seed(237)
sample(5,3,replace = T)
# the above is the same as
set.seed(237)
sample(1:5,3,replace = T)